@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary: #1c2d44;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-200: rgba(28, 45, 68, 0.8);
  --color-secondary: #aedff7;
  --color-secondary-500: rgba(174, 223, 247, 0.53);
  --color-turquoise: #00a8a3;
  --font-sus: var(--font-suisse);
}

body {
  background: var(--background);
  color: var(--primary);
  direction: rtl;
  font-family: var(--font-suisse), Helvetica, sans-serif;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.dotted-background {
  background-image: radial-gradient(
    circle at 1px 1px,
    currentColor 1px,
    transparent 0
  );
  background-size: 20px 20px;
  background-position-x: 10px;
  background-position-y: 10px;
  opacity: 10%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
